fastapi
uvicorn[standard]
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pydantic
aiohttp
httpx
pymongo
asyncpg
crawl4ai
pydantic
uvicorn
motor
certifi
google
google.generativeai
python-multipart
pydantic[email]